.poke {
  color: lightgreen;
  margin-bottom: 70px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evolveBtn {
  width: 100px;
  height: 40px;
  background-color: RGBA(206, 20, 35, 1.00);
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pokeImgDiv {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 50%;
  background-color: whitesmoke;
  box-shadow: 0px 0px 7px 7px whitesmoke;
  margin: 30px 0 50px 0;
}
.pokeImgDiv.glow {
  animation: glow infinite 0.1s linear;
}

 @keyframes glow {
  0% { box-shadow: 0px 0px 20px 20px whitesmoke; }
  100% { box-shadow: 0px 0px 44px 44px whitesmoke; }
} 

.pokeImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pokeImg.hidden {
  display: none;
}